.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}